@{
    ViewData["Title"] = "Registrar Novo Ativo";
}
<div class="row justify-content-md-center">
    <div class="col-xs-12 col-sm-10">
        <div class="card">
            <div class="card-header"><strong>Registrar Ativo</strong></div>
            <div class="card-body">
                <form class="form-registrar">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="Nome">Nome do Ativo</label>
                                <input type="text" class="form-control" name="Nome" required maxlength="100" placeholder="Nome completo do ativo">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group">
                                <label for="Tipo">Tipo do Ativo</label>
                                <input type="text" class="form-control" name="Tipo" required maxlength="100" placeholder="Carros, tratores, caminhões, máquinas e equipamentos">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <div class="form-group">
                                <label for="QtdDiasPeriodoManutencao">Período Manutenção</label>
                                <input type="text" class="form-control" name="QtdDiasPeriodoManutencao" required maxlength="5" alt="numero" placeholder="30, 60, 90 dias">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="float-right">
                                <button type="submit" class="btn btn-primary registrar-ativo">Gravar</button>
                                <a asp-controller="Ativo" asp-action="Listar" class="btn btn-secondary" title="Voltar para lista de ativos.">Voltar</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/Ativo/registrar.js" asp-append-version="true"></script>
}