@{
    ViewData["Title"] = "Módulo de Gestão de Ativos";
}
<div class="text-center">
    <h3 class="display-4">Bem vindos ao <br /> <strong>SGA - Sistema de Gestão Ambiental</strong></h3>
    <h5><strong>Empresa: </strong> Eladio Júnior Mineradora S.A.</h5>
    <br />
    <p>Esse projeto aborda uma solução para gestão ambiental para controle de ativos, locais de mineração da empresa e controle das barragens, onde devem ser monitoradas por sensores de forma a identificar possíveis divergências nas medições. Verificando divergências o sistema deve disparar um evento para Defesa Civil e emitir um alerta de evacuação. </p>
    <br />
    <h5>Módulo de Gestão de Ativos</h5>
    <p>O módulo de gestão de ativos, irá apoiar você no controle dos ativos da empresa, como carros, tratores, caminhões, máquinas e equipamentos para mineração, solicitar manutenções preventivas ou emergenciais, assim como solicitar aquisição de novos ativos e baixa dos ativos inativos.</p>
</div>
