@using SGA.ModuloGestaoAtivo.Models
@model List<SolicitacaoCompraModel>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" class="col-2" title="Número do protocolo da solicitação">Protocolo</th>
            <th scope="col" class="col-2" title="Data da solicitação">Data</th>
            <th scope="col" class="col-6" title="Descrição do ativo na solicitação de compra">Descrição de compra</th>
            <th scope="col" class="col-2" title="Situação da solicitação de compra">Situação</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null || !Model.Any())
        {
            <tr><td colspan="5">Nenhuma solicitação de compra de ativo encontrada para o filtro informado.</td></tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NumeroProtocolo</td>
                    <td>@item.DataSolicitacao.ToString("dd/MM/yyyy")</td>
                    <td>@item.DescricaoSolicitacao</td>
                    <td>@item.SituacaoSolicitacao</td>
                </tr>
            }
        }
    </tbody>
</table>