
@{
    ViewData["Title"] = "Realizar Manutenção de Ativo";
}

<div class="row justify-content-md-center">
    <div class="col-xs-12 col-sm-10">
        <div class="card">
            <div class="card-header"><strong>Lista de Ativos para Manutenção</strong></div>
            <div class="card-body lista-ativos">
                Lista de ativos para manutenção...
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/Manter/listar.js" asp-append-version="true"></script>
}

